.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}


@media (max-width: 1024px) {
  .pagination {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .pagination {
    gap: 5px;
  }
}