.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-container {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  align-self: auto;
  height: 100%;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .list,
  .list-container {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .list,
  .list-container {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .list {
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
  }

  .list-container {
    flex-direction: column;
    padding: 0 20px;
  }
}
