.main-wrapper {
  min-height: 400px;
  margin-bottom: auto;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  width: 100vw;
}

.pagination-wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
