.card {
  width: 200px;
  height: 240px;
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow: hidden; /* Ensures the image stays inside the card */
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #b41f23;
  color: white;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.1);
}

.title {
  position: absolute;
  background-color: #000;
  padding: 10px;
  top: 10px;
}

.name {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: var(--color-text);
}

.light {
  background-color: var(--color-background);
  --color-background: #ffffff;
  --color-text: #000000;
}

.dark {
  background-color: var(--color-background);
  --color-background: #000;
  --color-text: #ffffff;
}

.cardHover {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transition: bottom 0.3s ease-in-out;
  visibility: hidden;
}

.card:hover .card-hover {
  bottom: 0;
  visibility: visible;
}

.itemInfo {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
  display: flex;
  flex-direction: 'row';
}

.infoName {
  width: 70px;
  margin: 0;
}

@media (max-width: 1024px) {
  .card {
    width: 180px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100px;
    height: 160px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 240px;
    height: 240px;
  }
}
