.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
}

.search-box {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  background-color: orange;
  border-radius: 30px;
  overflow: hidden;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ccc;
  width: 40px;
  height: 40px;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;

  min-width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 16px 90px 16px 60px;
  box-sizing: border-box;
  background-color: #fff;
}

.input::placeholder {
  color: #aaa;
}

.search-button {
  position: absolute;
  right: 0;
  border-radius: 0;
  height: 100%;
  padding-left: 20px;
  background-color: #ccc;
}

.search-button:hover {
  border-color: transparent;
}

.search-button:active {
  outline: none;
}

.search-button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .search {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-wrapper {
    max-width: 700px;
  }

  .search-box {
    margin: 10px 20px;
    width: 100%;
  }

  .search {
    width: 100%;
  }

  .input {
    padding: 8px 90px 8px 60px;
  }
}

@media (max-width: 480px) {
  .search-wrapper {
    width: 100%;
  }

  .input {
    padding: 8px 80px 8px 50px;
    min-width: 50%;
  }
}
